<div class="card">
    <div class="card-header">
        <h5 class="mb-0">Hot List</h5>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Opportunity Name</th>
                    <th>Sale Date</th>
                    <th>Tasks</th>
                    <th>Comments</th>
                </tr>
            </thead>
            <tbody>
                {% for opportunity in opportunities %}
                <tr>
                    <td><a href="/opportunity/{{ opportunity.opportunity_id }}">{{ opportunity.name }}</a></td>
                    <td>{{ opportunity.sale_date | convert_to_ist | format_date_time  }}</td>
                    <td>
                        <button type="button" class="btn btn-link p-0" data-bs-toggle="modal" onclick="listTasks({{ opportunity.opportunity_id }})">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                            </svg>    
                        </button>
                        &nbsp;
                        <button type="button" class="btn btn-link p-0" data-bs-toggle="modal" onclick="showCreateTaskModal({{ opportunity.opportunity_id }},'{{ opportunity.name }}')">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"/>
                            </svg>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-link p-0" data-bs-toggle="modal" onclick="listComments({{ opportunity.opportunity_id }},'{{ opportunity.name }}')">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                            </svg>    
                        </button>
                        &nbsp;
                        <button type="button" class="btn btn-link p-0" data-bs-toggle="modal" onclick="showCreateCommentModal({{ opportunity.opportunity_id }},'{{ opportunity.name }}')">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"/>
                            </svg>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <nav aria-label="hot_list pagination">
            <ul class="pagination justify-content-start">
                {% if pipeline_page > 1 %}
                    <li class="page-item">
                        <a class="page-link" href="?hot_list_page=1">First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?hot_list_page={{ hot_list_page - 1 }}">&laquo; Previous</a>
                    </li>
                {% endif %}
                
                {% set start_page = hot_list_page - 2 if hot_list_page > 2 else 1 %}
                {% set end_page = start_page + 4 if start_page + 4 <= hot_list_count else hot_list_count %}
                {% set start_page = end_page - 4 if end_page - 4 > 0 else 1 %}
                
                {% for p in range(start_page, end_page + 1) %}
                    <li class="page-item {% if p == hot_list_page %}active{% endif %}">
                        <a class="page-link" href="?hot_list_page={{ p }}">{{ p }}</a>
                    </li>
                {% endfor %}
                
                {% if pipeline_page < pipeline_count %}
                    <li class="page-item">
                        <a class="page-link" href="?hot_list_page={{ hot_list_page + 1 }}">Next &raquo;</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?hot_list_page={{ hot_list_count }}">Last</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>