<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Tasks Due</h5>
        <button type="button" onclick="showCreateTaskModal()" class="btn btn-primary btn-sm" id="openCreateTaskModal">
            Create New Task
        </button>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Opportunity Name</th>
                    <th>Task Date</th>
                    <th>Action</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks_due %}
                <tr>
                    <td><a href="/opportunity/{{ task.opportunity_id }}">{{ task.opportunity_name }}</a></td>
                    <td>{{ task.due_date | format_date }}</td>
                    <td>{{ task.description }}</td>
                    <td><a href="#" onclick="listTasks('{{ task.opportunity_id }}')">Pending</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Container for the create task modal -->
<div id="createTaskModalContainer">
    {% include "task/create_modal.html" %}
</div>


