{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <h1 class="mt-4">Sales Performance Review Dashboard</h1>
    <div class="row">
        <div class="col-md-12">
            <h2>{{ month }} {{ year }} Projects</h2>
        </div>
    </div>
    
    <div class="row mt-4">
        <div class="col-md-8">
            {% include "review/_weekly_summary.html" %}
        </div>
        <div class="col-md-4">
            {% include "review/_pipeline.html" %}
        </div>
    </div>
    
    <div class="row mt-4">
        <div class="col-md-12">
            {% include "review/_tasks_due.html" %}
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/review_dashboard.js' %}"></script>
{% endblock %}
