{% extends "base.html" %}

{% block title %}
    List Sales
{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<div class="container mt-3">
    <h2>List Sales</h2>
    <div class="row">
        <div class="col-md-6">
            <form class="form-inline" method="GET" action="">
                <div class="form-group">
                    <input type="text" class="form-control" name="opportunity_name" placeholder="Search by Opportunity Name">
                </div>
                <button type="submit" class="btn btn-primary ml-2">Search</button>
            </form>
        </div>
    </div>
</div>
<div class="container mt-5">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Opportunity Name</th>
                <th>Sale Value</th>
                <th>Amount Paid</th>
                <th>Pending Amount</th>
                <th>Next Due Date</th>
            </tr>
        </thead>
        <tbody>
            {% for sale in sales %}
            <tr>
                <td><a href="/opportunity/{{sale.opportunity_id}}">{{ sale.opportunity_name }}</a></td>
                <td>{{ sale.sale_value }}</td>
                <td>{{ sale.amount_paid }}</td>
                <td>{{ sale.sale_value - sale.amount_paid }}</td>
                <td>{% if sale.due_date %}
                    {{ sale.due_date | formatDate }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="container mt-3">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-start">
            {% if page>1 %}
            <li class="page-item">
            <a class="page-link" href="?page={{ page-1 }}">Previous</a>
            </li>
            {% endif %}
            {% if page<total_pages %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page+1 }}">Next</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>

{% endblock %}