{% extends "base.html" %}

{% block title %}
Report
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            {% include 'calendar/monthly_dropdown.html' %}
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            <h2>Sales Generated For the Month</h2>
            {% include "sales/report/_sales.html" %}
        </div>
        <div class="col-md-6">
            <h2>All Payments Collected For the Month</h2>
            {% include "sales/report/_all_payments.html" %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Payments Collected By Sales Agents</h2>
            {% include "sales/report/_payments_by_sales_agent.html" %}
        </div>
        <div class="col-md-6">
            <h2>Payments Collected By Call Setters</h2>
            {% include "sales/report/_payments_by_call_setters.html" %}
        </div>
    </div>
</div>
{% endblock %}