{% extends "base.html" %}

{% block title %}
    Manage Payments
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h3>Manage payments for <a href="/opportunity/{{opportunity_id}}">{{opportunity_name}}</a></h3>
        <button id="addPaymentButton" class="btn btn-primary">Add Payment</button>

        <form id="paymentForm" action="{{sale_id}}" method="post" style="display: none;">
            <!-- Existing fields here -->
            <div class="row">
                <!-- New field for Payment Date -->
                <div class="col-md-3 mb-3">
                    <div class="form-group">
                        <label for="paymentDate">Payment Date:</label>
                        <input type="date" class="form-control" id="paymentDate" name="payment_date">
                    </div>
                </div>
                <!-- New field for Payment Amount -->
                <div class="col-md-3 mb-3">
                    <div class="form-group">
                        <label for="paymentAmount">Payment Amount</label>
                        <input type="number" class="form-control" id="paymentAmount" name="payment_amount" step="0.01" required>
                    </div>
                </div>
                <!-- New field for Charges -->
                <div class="col-md-3 mb-3">
                    <div class="form-group">
                        <label for="charges">Charges</label>
                        <input type="number" class="form-control" id="charges" name="charges" step="0.01">
                    </div>
                </div>
                <!-- New field for Payment Mode -->
                <div class="col-md-3 mb-3">
                    <div class="form-group">
                        <label for="paymentMode">Payment Mode</label>
                        <select class="form-control" id="paymentMode" name="payment_mode">
                            <option value="1">Razorpay</option>
                            <option value="2">Phone Pe</option>
                            <option value="3">Bank Transfer</option>
                            <option value="4">Direct UPI</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- New field for Invoice Link -->
                <div class="col-md-6 mb-6">
                    <div class="form-group">
                        <label for="invoiceLink">Invoice Link</label>
                        <input type="text" class="form-control" id="invoiceLink" name="invoice_link">
                    </div>
                </div>
                <!-- New field for Deposit -->
                <div class="col-md-2 mb-2">
                    <div class="form-group">
                        <label for="isDeposit">Is it a Deposit?</label>
                        <input type="checkbox" class="form-check-input form-control" id="isDeposit" name="is_deposit">
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    &nbsp;
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button id="cancelPaymentButton" class="btn btn-danger">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
        
        <div class="row">
            {% for payment in payments %}
            <div class="col-md-4 mb-4">
                <div class="card-group">
                    <div class="card">
                        <h5 class="card-header {% if not payment.is_deposit %}bg-success{% else %}bg-warning{% endif %}" style="color: white;">GenAI Leap - Date: {{ payment.date.strftime('%b %d, %Y') }}</h5>
                        <div class="card-body">
                            <p class="card-text">Payment Amount: <b>{{ payment.amount | exclTax | numberFormat }}</b></p>
                            <p class="card-text">GST: <b>{{ payment.amount | tax | numberFormat }}</b></p>
                            <p class="card-text">Payment Mode: <b>{{ payment.mode }}</b></p>
                            <p class="card-text">Payment Charges: <b>{{ payment.charges }}</b></p>
                            <p class="card-text">Invoice Link: <a target="_blank" href="{{ payment.invoice_link }}">Invoice Link</a></p>
                        </div>
                        <div class="card-footer">
                            {% if not payment.is_deposit %}
                            <div class="float-start">
                                <form action="/payments/{{opportunity_id}}/{{sale_id}}/{{payment.id}}/deposit" method="post">
                                    <button type="submit" class="btn btn-success">Mark as Deposit</button>
                                </form>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}       
        </div>
        <script>
            const addPaymentButton = document.getElementById('addPaymentButton');
            const cancelPaymentButton = document.getElementById('cancelPaymentButton');
            const paymentForm = document.getElementById('paymentForm');

            addPaymentButton.addEventListener('click', () => {
                paymentForm.style.display = 'block';
            });
            cancelPaymentButton.addEventListener('click', () => {
                paymentForm.style.display = 'none';
            });
        </script>
    </div>
    <div class="container mt-5">
        <h3>Payments Due</h3>
        <button id="addDueButton" class="btn btn-primary">Add Due</button>

        <form id="dueForm" action="/payments/{{opportunity_id}}/{{sale_id}}/due" method="post" style="display: none;">
            <div class="row">
                <!-- New field for Due Date -->
                <div class="col-md-3 mb-3">
                    <div class="form-group">
                        <label for="dueDate">Due Date:</label>
                        <input type="date" class="form-control" id="dueDate" name="due_date">
                    </div>
                </div>
                <!-- New field for Amount Due -->
                <div class="col-md-3 mb-3">
                    <div class="form-group">
                        <label for="amountDue">Amount Due</label>
                        <input type="number" class="form-control" id="amountDue" name="amount_due" step="0.01" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    &nbsp;
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button id="cancelDueButton" class="btn btn-danger">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th>Due Date</th>
                    <th>Amount Due</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for due in dues %}
                <tr>
                    <td>{{ due.due_date.strftime('%b %d, %Y') }}</td>
                    <td>{{ due.amount | numberFormat }}</td>
                    <td><a href="/payments/{{due.id}}/paid">Mark Paid</a>&nbsp;|&nbsp;<a href="/payments/{{due.id}}/cancel">Cancel</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <script>
            const addDueButton = document.getElementById('addDueButton');
            const cancelDueButton = document.getElementById('cancelDueButton');
            const dueForm = document.getElementById('dueForm');

            addDueButton.addEventListener('click', () => {
                dueForm.style.display = 'block';
            });
            cancelDueButton.addEventListener('click', () => {
                dueForm.style.display = 'none';
            });
        </script>
    </div>
{% endblock %}