{% for appointment in opportunity.appointments %}
    <div class="col-md-3 mb-3">
        <div class="card">
            <h5 class="card-header">Date: {{ appointment.time.strftime('%b %d, %Y, %H:%M') if appointment.time else '' }}</h5>
            <div class="card-body">
                <p class="card-text">Call Status: <b>{{ appointment.call_status }}</b></p>
                <p class="card-text">Booked Time: <b>{{ appointment.appointment_create_time.strftime('%b %d, %Y, %H:%M') if appointment.appointment_create_time else '' }}</b></p>
            </div>
            <div class="card-footer {% if appointment.appointment_status == 'Sale' %}bg-success{% elif appointment.appointment_status == 'Follow up' or appointment.appointment_status == 'Rescheduled' %}bg-warning{% elif appointment.appointment_status == 'Cancelled' or appointment.appointment_status == 'No Show' %}bg-danger{% else %}bg-primary{% endif %}">
                {% if appointment.appointment_status == None %}
                    Call Pending
                {% else %}
                    {{ appointment.appointment_status }}
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}

{% include 'task/list_modal.html' %}
{% include 'task/create_modal.html' %}
