{% extends "base.html" %}

{% block title %}
    Communication Manager
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Instances</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <a type="button" class="btn btn-sm btn-outline-secondary" id="new-instance-btn" href="/instance/edit">New</a>
        </div>
    </div>

    <!-- Instances Table -->
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Mobile Number</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="instances-table-body">
                <!-- Rows will be added dynamically -->
            </tbody>
        </table>
    </div>

    <!-- New Instance Modal -->
    <div class="modal fade" id="newInstanceModal" tabindex="-1" aria-labelledby="newInstanceModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newInstanceModalLabel">New Instance</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- New Instance Form -->
                    <form id="newInstanceForm">
                        <div class="mb-3">
                            <label for="mobileNumber" class="form-label">Mobile Number</label>
                            <input type="text" class="form-control" id="mobileNumber" required>
                        </div>
                        <div class="mb-3">
                            <label for="userName" class="form-label">User Name</label>
                            <input type="text" class="form-control" id="userName" required>
                        </div>
                        <div class="mb-3" id="qrCodeContainer" style="display: none;">
                            <!-- QR Code Image will be displayed here -->
                        </div>
                        <button type="submit" class="btn btn-primary">Add</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $.getJSON('/instance/list', function(data) {
                $.each(data, function(index, instance) {
                    var row = '<tr>' +
                              '<td>' + instance.mobile_number + '</td>' +
                              '<td>' + instance.name + '</td>' +
                              '<td>' + instance.status + '</td>' +
                              '<td><a href="/instance/edit?mobile_number='+ instance.mobile_number +'">Edit</a>&nbsp;' +
                              '<a href="/instance/delete?mobile_number='+ instance.mobile_number +'">Delete</a>&nbsp;' +
                              '<a href="/instance/refresh?mobile_number='+ instance.mobile_number +'">Refresh</a></td>' +
                              '</tr>';
                    $('#instances-table-body').append(row);
                });
            });
        });
    </script>
{% endblock %}