{% extends "base.html" %}

{% block title %}
List of Appointments
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>List of Appointments</h2>
    <table class="table table-striped" id="appointmentsTable">
        <thead>
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Mentor</th>
                <th>Appointment Time</th>
                <th>status</th>
                <th style="text-align: right;"><a href="#" onclick="loadAppointments(-1)" id="view_setting">View All</a></th>
            </tr>
        </thead>
        <tbody>
            <!-- Table data will be inserted here with JavaScript -->
        </tbody>
    </table>
    <!-- Pagination control -->
    <div id="pagination" class="mt-3">
        <button id="prev" class="btn btn-primary">Previous</button>
        <span id="page-info" class="mx-2"></span>
        <button id="next" class="btn btn-primary">Next</button>
    </div>
</div>
<style>
    .grade-1 { background-color: rgb(233 81 81); }
    .grade-2 { background-color: rgb(204, 159, 75); }
    .grade-3, .grade-0 { background-color: rgb(65, 119, 65); }
</style>
<script src="{{ url_for('static', filename='js/utils.js') }}"></script>
<script src="{{ url_for('static', filename='js/appointment.js') }}"></script>
{% endblock %}