{% extends "base.html" %}

{% block title %}
    WhatsApp Instance Manager
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2>Create Opportunities from Excel</h2>
        <form id="uploadForm" enctype="multipart/form-data">
            
            <div class="mb-3">
                <label for="excelFile" class="form-label">Excel File</label>
                <input type="file" class="form-control" id="excelFile" required>
            </div>
            <button type="button" class="btn btn-primary" onclick="uploadExcel()">Upload</button>
            <button type="button" class="btn btn-secondary" onclick="window.history.back();">Cancel</button>
        </form>
    </div>

    <script>
        function uploadExcel(){
            var formData = new FormData();
            formData.append('file', $('#excelFile')[0].files[0]);

            $.ajax({
                url: 'import',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function(response) {
                    if(response.message == 'Opportunities imported successfully'){
                        // Handle success
                        window.location.href = '/'; // Redirect to the instances page
                    }
                },
                error: function(xhr, status, error) {
                    // Handle error
                    alert('An error occurred: ' + error);
                }
            });
        }
    </script>
{% endblock %}