{% extends "base.html" %}

{% block title %}
    List Opportunities
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2>List of Opportunities</h2>
        <form id="searchForm" class="mt-12">
            <div class="row">
                <div class="col-md-4">
                    <input type="text" id="searchTerm" placeholder="Search term" class="form-control mt-4">
                </div>
                <div class="col-md-4">
                    <select id="searchType" class="form-control mt-4">
                        <option value="name">Name</option>
                        <option value="email">Email</option>
                        <option value="phone">Phone Number</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary mt-4">Search</button>
                </div>
            </div>
        </form>
        <table class="table table-striped" id="opportunitiesTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Call Status</th>
                    <th>Opportunity Status</th>
                    <th>Agent</th>
                </tr>
            </thead>
            <tbody>
                <!-- Table data will be inserted here with JavaScript -->
            </tbody>
        </table>
        <!-- Pagination control -->
        <div id="pagination" class="mt-3">
            <button id="first" class="btn btn-primary">First</button>
            <button id="prev" class="btn btn-primary">Previous</button>
            <span id="page-info" class="mx-2"></span>
            <button id="next" class="btn btn-primary">Next</button>
        </div>
    </div>

    <script>
    $(document).ready(function() {
        var page = 1;
        var totalPages = 1;

        function loadOpportunities(searchTerm, searchType) {
            var url = '/opportunity/list?page=' + page;
            if (searchTerm && searchType) {
                url += '&searchTerm=' + encodeURIComponent(searchTerm) + '&searchType=' + encodeURIComponent(searchType);
            }
            $.getJSON(url, function(data) {
                // Clear the current list of opportunities
                $('#opportunitiesTable tbody').empty();

                // Add the new opportunities to the list
                data.items.forEach(function(opportunity) {
                    var date = new Date(opportunity.date);
                    var formattedDate = new Date(date.toLocaleString('en-US', { timeZone: 'Asia/Kolkata' })).toLocaleString('en-IN', { month: 'short', day: 'numeric', year: 'numeric', hour: '2-digit', minute: '2-digit' });
                    var row = '<tr>' +
                        '<td><a href="./' + opportunity.id + '">' + opportunity.name + '</a><br>' + opportunity.phone + '</td>' +
                        '<td>' + formattedDate + '</td>' +
                        '<td><a type="button" class="btn btn-success" href="tel:' + opportunity.phone + '"><i class="bi bi-telephone"></i>' + 
                            '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">' 
                                +'<path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>' 
                                +'</svg></a>&nbsp;' +
                                '<a type="button" class="btn btn-success" target="WhatsApp" href="https://wa.me/' + opportunity.phone + '"><i class="bi bi-whatsapp"></i>' +
                            '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-whatsapp" viewBox="0 0 16 16">' +
                            '<path d="M8 0C3.582 0 0 3.582 0 8s3.582 8 8 8 8-3.582 8-8-3.582-8-8-8zm3.853 11.53c-.19.534-.99 1.28-1.453 1.453-.474.19-1.09.19-1.563 0l-1.26-.316c-1.316.684-2.89.316-3.895-.69-1.005-1.005-1.373-2.58-.69-3.895l-.316-1.26c-.19-.474-.19-1.09 0-1.563.173-.463.92-1.263 1.453-1.453.474-.19 1.09-.19 1.563 0l1.26.316c1.316-.684 2.89-.316 3.895.69 1.005 1.005 1.373 2.58.69 3.895l.316 1.26c.19.474.19 1.09 0 1.563zm-2.853-.53c-.19-.534-.99-1.28-1.453-1.453-.474-.19-1.09-.19-1.563 0l-1.26.316c-1.316-.684-2.89-.316-3.895.69-1.005 1.005-1.373 2.58-.69 3.895l-.316 1.26c-.19.474-.19 1.09 0 1.563.173.463.92 1.263 1.453 1.453.474.19 1.09.19 1.563 0l1.26-.316c1.316.684 2.89.316 3.895-.69 1.005-1.005 1.373-2.58.69-3.895l.316-1.26c.19-.474.19-1.09 0-1.563z"/>' +
                            '</svg></a></td>'+
                        '<td>' + opportunity.email + '</td>' +
                        '<td>' + (opportunity.call_status ? opportunity.call_status : 'Not Set') + '</td>' +
                        '<td>' + (opportunity.opportunity_status ? opportunity.opportunity_status : 'Not Set') + '</td>' +
                        '<td>' + (opportunity.agent ? opportunity.agent : 'Not Set') + '</td>' +
                        '</tr>';
                    $('#opportunitiesTable tbody').append(row);
                });

                // Update the pagination info
                $('#page-info').text('Page ' + data.page + ' of ' + data.total_pages);
                totalPages = data.total_pages;
            });
        }

        // Load the first page of opportunities
        var searchTerm = $('#searchTerm').val();
        var searchType = $('#searchType').val();
        loadOpportunities(searchTerm, searchType);

        // Handle the Previous button click
        $('#prev').click(function() {
            if (page > 1) {
                page--;
                var searchTerm = $('#searchTerm').val();
                var searchType = $('#searchType').val();
                loadOpportunities(searchTerm, searchType);
            }
        });
        // Handle the search form submission
        $('#searchForm').submit(function(event) {
            event.preventDefault();
            var searchTerm = $('#searchTerm').val();
            var searchType = $('#searchType').val();
            page = 1;  // Reset to the first page
            loadOpportunities(searchTerm, searchType);
        });
        
        // Handle the Next button click
        $('#next').click(function() {
            if (page < totalPages) {
                page++;
                var searchTerm = $('#searchTerm').val();
                var searchType = $('#searchType').val();
                loadOpportunities(searchTerm, searchType);
            }
        });
        // Handle the First button click
        $('#first').click(function() {
            if (page !== 1) {
                page = 1;
                var searchTerm = $('#searchTerm').val();
                var searchType = $('#searchType').val();
                loadOpportunities(searchTerm, searchType);
            }
        });
    });
    </script>
{% endblock %}