{% extends "base.html" %}

{% block title %}
    List Opportunities
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2>List of Opportunities</h2>
        <table class="table table-striped" id="opportunitiesTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Call Status</th>
                    <th>Opportunity Status</th>
                    <th>Agent</th>
                </tr>
            </thead>
            <tbody>
                <!-- Table data will be inserted here with JavaScript -->
            </tbody>
        </table>
    </div>

    <script>
        $(document).ready(function() {
            $.get('/opportunity/list', function(data) {
                data.forEach(function(opportunity) {
                    var date = new Date(opportunity.date);
                    var formattedDate = date.toLocaleString('en-US', { month: 'short', day: 'numeric', year: 'numeric', hour: '2-digit', minute: '2-digit' });
                    var row = '<tr>' +
                        '<td><a href="./' + opportunity.id + '">' + opportunity.name + '</a></td>' +
                        '<td>' + formattedDate + '</td>' +
                        '<td>' + opportunity.email + '</td>' +
                        '<td>' + opportunity.phone + '</td>' +
                        '<td>' + opportunity.call_status + '</td>' +
                        '<td>' + opportunity.opportunity_status + '</td>' +
                        '<td>' + opportunity.agent + '</td>' +
                        '</tr>';
                    $('#opportunitiesTable tbody').append(row);
                });
            });
        });
    </script>
{% endblock %}