{% extends "base.html" %}

{% block title %}
    View Opportunity
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <h2>Opportunity Details</h2>
            </div>
        </div>
        
        <h3>Personal Information</h3>
        <div id="personalInformation">
            {% include "opportunity/details/_profile.html" %}
        </div>
        <h3>Sales</h3>
        <div class="card-deck">
            {% include "opportunity/details/_sale.html" %}
        </div>
        <h3>Appointments</h3>
        <div class="card-deck">
            <div class="row">
                {% include "opportunity/details/_appointments.html" %}
            </div>
        </div>
        <h3>Communicate</h3>
        {% include "opportunity/details/_communicate.html" %}
    </div>

{% endblock %}