{% extends "base.html" %}

{% block title %}
List of Messages
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>List of Messages</h2>
    <table class="table table-striped" id="messagesTable">
        <thead>
            <tr>
                <th>Receiver</th>
                <th>Template</th>
                <th>Status</th>
                <th>Create Time</th>
                <th>Actions</th> <!-- Added column for actions -->
            </tr>
        </thead>
        <tbody>
            <!-- Table data will be inserted here with JavaScript -->
        </tbody>
    </table>
    <!-- Pagination control -->
    <div id="pagination" class="mt-3">
        <button id="prev" class="btn btn-primary">Previous</button>
        <span id="page-info" class="mx-2"></span>
        <button id="next" class="btn btn-primary">Next</button>
    </div>
</div>

<script>
    var currentPage = 1;

    function loadMessages() {
        $.get('{{ url_for('message.list_messages') }}', { page: currentPage }, function(data) {
            // Clear the current list of messages
            $('#messagesTable tbody').empty();

            // Add the new messages to the list
            $.each(data.items, function(i, message) {
                $('#messagesTable tbody').append(
                    '<tr>' +
                    '<td>' + (message.receiver_id ? '<a href="/opportunity/' + message.receiver_id + '">' + message.receiver : message.receiver) + '</td>' +
                    '<td>' + message.template + '</td>' +
                    '<td>' + message.status + '</td>' +
                    '<td>' + message.create_time + '</td>' +
                    '<td><button class="btn btn-primary retry" data-id="' + message.id + '">Retry</button></td>' + // Added button for retry
                    '</tr>'
                );
            });

            // Update the pagination info
            $('#page-info').text('Page ' + data.page + ' of ' + data.total_pages);

            // Add click event to the Retry buttons
            $('.retry').click(function() {
                var messageId = $(this).data('id');
                if(messageId == undefined){
                    messageId=0
                }
                $.post('/message/retry/' + messageId, function(data) {
                        loadMessages();
                    }
                );
            });
        });
    }

    $(document).ready(function() {
        loadMessages();

        $('#prev').click(function() {
            if (currentPage > 1) {
                currentPage--;
                loadMessages();
            }
        });

        $('#next').click(function() {
            currentPage++;
            loadMessages();
        });
    });
</script>
{% endblock %}