<nav class="bg-light d-md-block collapse navbar-collapse" id="navbarSupportedContent">
    <!-- Menu Items -->
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            {% if g.user_logged_in %}
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/dashboard">
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/appointment">
                    Appointments
                </a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/instance">
                    Instances
                </a>
            </li> -->
            <li class="nav-item"></li>
                <a class="nav-link nav-main" aria-current="page" href="/opportunity">
                    Opportunities
                </a>
                <ul class="submenu" style="display: none;">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/opportunity">
                            List
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/message/">
                            Messages
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-main" aria-current="page" href="/sales">
                    Sales
                </a>
                <ul class="submenu" style="display: none;">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/sales">
                            All Sales
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/sales/monthly">
                            Report
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">
                    Metrics
                </a>
                <ul class="submenu" style="display: none;">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/review">
                            Review
                        </a>
                    </li>
                    {% if "Admin" in current_user.roles %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/metrics/projections">
                            Projections
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-main" aria-current="page" href="/template">
                    Config
                </a>
                <ul class="submenu" style="display: none;">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/template">
                            Templates
                        </a>
                    </li>
                    {% if "Admin" in current_user.roles %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/user">
                            Users
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/import">
                            Import
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/logout">
                    Logout
                </a>
            </li>
            
            {% endif %}
        </ul>
    </div>
</nav>
<script src="{{ url_for('static', filename='js/nav.js') }}"></script>
<style>
    .active {
        background-color: blue;
        transition: background-color 0.3s;
        color: white;
    }
    .active:hover {
        color: white; /* Ensure text color stays white on hover */
    }
    .submenu {
        list-style-type: none;
    }
</style>