{% extends "base.html" %}

{% block title %}
    WhatsApp Instance Manager
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2>Create New WhatsApp Instance</h2>
        <form id="newInstanceForm">
            <div class="mb-3">
                <label for="mobileNumber" class="form-label">Mobile Number</label>
                <input type="text" class="form-control" id="mobileNumber" value="{{content.mobile_number}}" required>
            </div>
            <div class="mb-3">
                <label for="userName" class="form-label">User Name</label>
                <input type="text" class="form-control" id="userName" value="{{content.name}}" required>
            </div>
            <div class="mt-4">
                <progress id="progress" style="display: none;">Loading QR Code</progress>
                <p><button id="refresh" type="button" onclick="loadQRCode()">Refresh QR Code</button></p>
                <!-- QR Code Image will be dynamically inserted here -->
                <div id="qrCodeContainer" class="text-center">
                </div>
            </div>
            <button type="button" class="btn btn-secondary" onclick="window.history.back();">Cancel</button>
        </form>
    </div>

    <script>
        function loadQRCode(){
            var mobileNumber = $('#mobileNumber').val();
            var userName = $('#userName').val();
            $('#qrCodeContainer').hide();
            $('#refresh').hide()
            $('#progress').show()
            // Post to create instance
            $.post({
                url: '/qr/refresh',
                data: JSON.stringify({ 
                    mobileNumber: mobileNumber, 
                    userName: userName 
                }),
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("Content-Type", "application/json");
                },
                success: function(response) {
                    if(response.status == 'pending'){
                        // Handle success
                        checkQRCode(mobileNumber, 1)
                    }else{
                        window.location.href = '/'; // Redirect to the instances page
                    }
                },
                error: function(xhr, status, error) {
                    // Handle error
                    $('#refresh').show()
                    $('#progress').hide()
                }
            });
        }
        function checkQRCode(mobileNumber, attempt) {
            if(mobileNumber == undefined){
                mobileNumber = $('#mobileNumber').val();
            }
            $.getJSON("/qr/register?mobile_number=" + mobileNumber, function(data) {
                if (data.status === 'ready') {
                    $('#refresh').hide()
                    $('#progress').hide()
                    $('#qrCodeContainer').show();
                    $('#qrCodeContainer').html('<img width="264px" height="264px" src="/qr/image?mobile_number='+mobileNumber+'" alt="QR Code"></img><progress></progress>');
                    checkActivation(mobileNumber, 1);
                } else {
                    $('#refresh').show()
                    $('#progress').hide()
                }
            });
        }

        function checkActivation(mobileNumber, attempt) {
            $.getJSON("/qr/active?mobile_number=" + mobileNumber, function(data) {
                if (data.status === 'ready') {
                    window.location.href = '/'; // Redirect to the instances page
                } else {
                    if(attempt>12){
                        $('#refresh').show();
                        $('#qrCodeContainer').html('<p></p>');
                        $('#qrCodeContainer').hide();
                    }else{
                        setTimeout(function() { checkActivation(mobileNumber, attempt+1); }, 5000);
                    }
                }
            });
        }
    </script>
{% endblock %}
