<div class="card-header d-flex justify-content-between align-items-center mb-2">
    <h5 class="mb-0">Leads Pipeline</h5>
    <div class="col-3">
        <input type="text" 
               id="pipeline_leads_search" 
               class="form-control" 
               placeholder="Search by name, email or phone..."
               aria-label="Search opportunities">
    </div>
</div>
<div class="ms-2 me-2">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header bg-success text-white d-flex justify-content-between align-items-center">
                    <h6 class="mb-0">Appointments (<span class="items_count">{{ pipeline_appointments_count }}</span>)</h6>
                    <div class="selected-date text-white badge bg-secondary"></div>
                    <div class="date-filter" id="appointments-date-filter">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-date" viewBox="0 0 16 16">
                            <path d="M6.445 11.688V6.354h-.633A13 13 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23"/>
                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
                        </svg> 
                    </div>
                </div>
                
                <div class="card-body" id="pipeline_appointments_body">
                    <div class="leads-list pipeline-appt-list" id="pipeline_appointments">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for appointment in pipeline_appointments %}
                                <tr class="pipeline-appt-item">
                                    {% include 'review/call-setting/_appt_pipeline_title.html' %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <!-- Add pagination controls -->    
                        {% with page=pipeline_appointments_page %}
                        {% with count=pipeline_appointments_count %}
                        {% with page_args='pipeline_appointments_page' %}
                        {% include 'review/call-setting/_pagination.html' %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        <!-- Add pagination controls -->
                    </div>
                </div>
            </div>
        </div>
        <!-- New Leads Pipeline -->
        <div class="col-md-3">
            <div class="card">
                <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
                    <h6 class="mb-0">New Leads (<span class="items_count">{{ pipeline_leads_count }}</span>)</h6>
                    <div class="selected-date text-white badge bg-secondary"></div>
                    <div class="date-filter" id="new-leads-date-filter">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-date" viewBox="0 0 16 16">
                            <path d="M6.445 11.688V6.354h-.633A13 13 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23"/>
                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
                        </svg> 
                    </div>
                </div>
                <div class="card-body" id="pipeline_leads_body">
                    <div class="leads-list pipeline-list" id="pipeline_leads">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for lead in pipeline_leads %}
                                <tr class="pipeline-item">
                                    {% include 'review/call-setting/_pipeline_title.html' %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <!-- Add pagination controls -->    
                        {% with page=pipeline_leads_page %}
                        {% with count=pipeline_leads_count %}
                        {% with page_args='pipeline_leads_page' %}
                        {% include 'review/call-setting/_pagination.html' %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        <!-- Add pagination controls -->
                    </div>
                </div>
            </div>
        </div>

        <!-- Follow Up Pipeline -->
        <div class="col-md-3">
            <div class="card">
                <div class="card-header bg-warning text-white d-flex justify-content-between align-items-center">
                    <h6 class="mb-0">Follow Up (<span class="items_count">{{ pipeline_follow_up_count }}</span>)</h6>
                    <div class="selected-date text-white badge bg-secondary"></div>
                    <div class="date-filter" id="follow-up-date-filter">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-date" viewBox="0 0 16 16">
                            <path d="M6.445 11.688V6.354h-.633A13 13 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23"/>
                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
                        </svg> 
                    </div>
                </div>
                <div class="card-body" id="pipeline_follow_up_body">
                    <div class="leads-list pipeline-list" id="pipeline_follow_up">
                        <!-- Template for pipeline items -->
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for lead in pipeline_follow_up %}
                                <tr class="pipeline-item">
                                    {% include 'review/call-setting/_pipeline_title.html' %}
                                </tr>   
                                {% endfor %}
                            </tbody>
                        </table>
                        <!-- Add pagination controls -->    
                        {% with page=pipeline_follow_up_page %}
                        {% with count=pipeline_follow_up_count %}
                        {% with page_args='pipeline_follow_up_page' %}
                        {% include 'review/call-setting/_pagination.html' %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        <!-- Add pagination controls -->
                    </div>
                </div>
            </div>
        </div>

        <!-- No Shows Pipeline -->
        <div class="col-md-3">
            <div class="card">
                <div class="card-header bg-danger text-white text-white d-flex justify-content-between align-items-center">
                    <h6 class="mb-0">No Shows (<span class="items_count">{{ pipeline_no_show_count }}</span>)</h6>
                    <div class="selected-date text-white badge bg-secondary"></div>
                    <div class="date-filter" id="no-show-date-filter">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-date" viewBox="0 0 16 16">
                            <path d="M6.445 11.688V6.354h-.633A13 13 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23"/>
                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
                        </svg> 
                    </div>
                </div>
                <div class="card-body" id="pipeline_no_show_body">
                    <div class="leads-list pipeline-list" id="pipeline_no_show">
                        <!-- Template for pipeline items -->
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for lead in pipeline_no_show %}
                                <tr class="pipeline-item">
                                    {% include 'review/call-setting/_pipeline_title.html' %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <!-- Add pagination controls -->    
                        {% with page=pipeline_no_show_page %}
                        {% with count=pipeline_no_show_count %}
                        {% with page_args='pipeline_no_show_page' %}
                        {% include 'review/call-setting/_pagination.html' %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        <!-- Add pagination controls -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
